body {
    background-color: #c8ffc8;
    color: #141204;
}

.header {
    background-color: #280003;
    color: #c8ffc8;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
}

.header > h1 {
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 400%;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
}

.nav {
    float: left;
}

.nav > p {
    background-color: #280003;
    font-style: bold;
    font-size: 141%;
    text-align: right;
    width: 64px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 0px;
    margin-left: 50%;
}

.nav > p > a {
    color: #c2847a;
    text-decoration: none;
}

.thispage {
    color: #280003;
}
